*{
    box-sizing: border-box;
}
.home-heading-container{
    width: 100%;
    display: flex;
  // justify-content: space-between;
   justify-content:space-evenly;
   margin-left: -26rem;
    align-items: center;
    margin-top: 40px;
  }